@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .foil::after {
    content: '';
    position: absolute;
    top: 25%;
    left: -100%;
    width: 250%;
    height: 50%;
    /* background-color: red; */
    background-image: linear-gradient(
      transparent 0%,
      rgb(255, 255, 255, 0.03) 10%,
      rgb(255, 255, 255, 0.15) 30%,
      rgb(255, 255, 255, 0.15) 70%,
      rgb(255, 255, 255, 0.03) 90%,
      transparent 100%
    );
    transform: rotateZ(60deg);
    animation: shine 2s infinite cubic-bezier(0.87, 0, 0.13, 1);
  }

  @keyframes shine {
    0% {
      left: 50%;
    }
    100% {
      left: -200%;
    }
  }
}